:root {
    --primary: #FFD400;
    --dark: #1A1A1A;
    --light: #F5F5F5;
    --accent: #00A8E8;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.services-principales {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.titulo-section {
    font-size: clamp(1rem, 3.2vw, 2rem);

}

.container-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.card-service {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid var(--light);
    justify-content: flex-start;
    transition: transform .5s, border .5s, background-color.5s;
    cursor: pointer;

}

.card-service:hover {
    transform: translateY(10px);
    border: 1px solid var(--dark);
    background-color: #F5F5F5;

}

.card-service-title {
    color: var(--dark);
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: 200;
    display: flex;
    align-items: stretch;
}


.card-service-img {
    width: 100%;
    max-width: 500px;
    transition: transform .5s;


}

.card-service-img:hover {
    transform: scale(0.95);
}

.elegirnos {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    color: var(--light);
    gap: 1.5rem;
    padding: 2rem;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;

}

.elegirnos-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.elegirnos-img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    animation: moverMuñeco 2s linear infinite;
}

@keyframes moverMuñeco {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.elegirnos-title {
    font-size: clamp(1.2rem, 3.5vw, 1.9rem);
    font-weight: 200;
}

.elegirnos-lista {
    list-style: disc;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0.5rem 1rem;

}

.elegirnos-item {
    color: #FFD400;
}

@media(max-width:780px) {
    .container-services {
        grid-template-columns: repeat(2, 1fr);

    }

    .elegirnos {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

@media(max-width:480px) {
    .container-services {
        grid-template-columns: repeat(1, 1fr);
    }
}