:root {
    --primary: #FFD400;
    --dark: #1A1A1A;
    --light: #F5F5F5;
    --accent: #00A8E8;
    --roboto: Roboto;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position: sticky;
    z-index: 100;
    top: 70px;
    right: 0;
    width: 100%;
}

.nav-header {

    display: flex;
    justify-content: center;

}

.nav-lista {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.li-item {
    display: flex;
    width: 100%;

}

.url-nav-header {
    background-color: var(--light);
    padding: .8rem;
    border-radius: 25px;
    border: 1px solid var(--light);
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color .5s, border .5s, transform .5s;
    width: 180px;
    text-align: center;
}

body.dark .url-nav-header {
    color: var(--light);
    background-color: var(--dark);
    border: 1px solid var(--dark);
}

.url-nav-header:hover {
    background-color: transparent;
    border: 1px solid var(--dark);

}

body.dark .url-nav-header:hover {
    background-color: transparent;
    transform: scale(0.9);
}



.nav-header.open {
    background-color: var(--light);
    position: fixed;
    top: 184px;
    right: 0;
    height: calc(100dvh - 184px);
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: block;
    animation: openNav 1s linear;
}

body.dark .nav-header.open {
    background-color: var(--dark);
}

@keyframes openNav {

    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.nav-header.open .nav-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


}

.nav-header.open .li-item {
    display: flex;
}

.nav-header.open .url-nav-header {
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: var(--dark);
    color: white;
    transition: background-color .5s, color .5s, border .4s, transform .5s;
}

body.dark .nav-header.open .url-nav-header {
    background-color: #6d6c6c;
    border: 1px solid transparent;
    transition: transform .5s, color .5s;
}

.nav-header.open .url-nav-header:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: 1px solid var(--primary);
    transform: scale(0.9);
}

.nav-header.open .url-nav-header.active {
    background-color: #FFD400;
}

/*BOTON BURGUER*/

.btn-burguer {
    text-decoration: none;
    cursor: pointer;
    display: none;

}

/*BOTON HOME*/

.btn-home {
    width: 25px;
}

.icon-home {
    max-width: 100%;
    width: 25px;
}

/*CARRUSEL*/

.carrusel {
    grid-column: 1/5;
    background-color: white;
    height: 70px;
    overflow: hidden;
    position: sticky;
    z-index: 100;
    top: 0;
}

body.dark .carrusel {
    background-color: var(--dark);
}

.container-carrusel {
    display: flex;
    animation: carrusel 5s linear infinite;
    align-items: center;
    height: 100%;
    width: max-content;

}

.categorias-carrusel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
    min-width: 100dvw;
}

.item-carrusel {
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 1.4rem);
    color: #002e40;
    background-color: var(--light);
    padding: .5rem;
    border-radius: 25px;
    border: 1px solid var(--light);
    transition: background-color .5s;
    margin-left: 1rem;

}

.item-carrusel:hover {
    background-color: #FFD400;
}


@media (max-width:700px) {
    .nav-header {
        display: none;
    }

    .btn-burguer {
        display: block;
    }


}

/* HERO*/

.hero {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

body.dark .hero {
    background-color: var(--dark);
    color: var(--light);
}

.hero-info-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.hero-title {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
}

.hero-subtitle {
    font-weight: 200;
    font-size: clamp(1rem, 2.5vw, 1.8rem);

}

.hero-visual {
    display: flex;
    justify-content: center;
}

.hero-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*BTN BASIC*/

.btn-basic {
    padding: .9rem;
    border-radius: 25px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .5s, transform .5s;
    width: 100%;
    max-width: 400px;
}

.btn-basic:hover {
    background-color: var(--light);
    transform: scale(0.9);
}

/* CARD OPINION*/

.card-opinon {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--accent);
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .5s, transform .5s, border .5s;
    border: 1px solid var(--accent);
    min-height: 200px;
    justify-content: space-evenly;

}

body.dark .card-opinon {
    background-color: #6d6c6c;
    border: 1px solid #6d6c6c;
}

.card-opinon:hover {
    background-color: transparent;
    border: 1px solid var(--dark);
    transform: translate(10px, 10px);
}

.card-opinon:nth-child(odd) {
    background-color: #F5F5F5;
}

body.dark .card-opinon:nth-child(odd) {
    background-color: var(--dark);
    border: 1px solid var(--light);
    color: var(--light);
}

.card-opinon:nth-child(odd):hover {
    background-color: var(--light);
    border: 1px solid var(--dark);


}

.card-opinion-info-per {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

body.dark .info-personal-name {

    color: var(--light);
}

.calfContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--light);
    padding: .9rem;
    border-radius: 20px;
}

body.dark .calfContainer-mensaje {

    color: var(--dark);
}

.rate {
    display: flex;
    gap: .8rem;
}

.rate .bi {
    color: var(--primary);
}

.rate .bi:hover {
    transform: scale(2);
}

@media (max-width:480px) {
    .card-opinon:nth-child(odd) {
        transform: translateX(0);
    }
}

/*FOOTER*/

.footer {
    padding: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    background-color: #6d6c6c;
    padding: 1rem;
}

.footer-descripcion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

.footer-descripcion-title {
    color: var(--light);
}

.footer-logo {
    width: 100%;
    max-width: 100px;

}

.footer-servicios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 15px;

}

body.dark .footer-servicios {
    background-color: var(--dark);
}

.servicios-titulo-footer {
    width: 100%;
    background-color: var(--primary);
    padding: .8rem;
    border-radius: 15px;

}

body.dark .service-item {
    color: var(--light);
}

.enlaces-rapidos {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.enlaces-rapidos-footer {
    color: var(--dark);
    text-decoration: none;
    width: 100%;
    background-color: var(--light);
    padding: .5rem;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color .5s, border .5s, color .5s;
    border: 1px solid transparent;
}

.enlaces-rapidos-footer:nth-child(even) {
    background-color: var(--primary);
}

.enlaces-rapidos-footer:nth-child(even):hover {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--light);
}

.enlaces-rapidos-footer:nth-child(odd):hover {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--light);
}

.footer-contacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 15px;
}

body.dark .footer-contacto {
    background-color: var(--dark);
}

.footer-title {
    font-weight: bold;
    width: 100%;
    background-color: var(--primary);
    padding: .8rem;
    border-radius: 15px;

}

.footer-dir {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

body.dark .footer-dir {
    color: var(--light);
}

.footer-dir-wpp {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: green;
}

.footer-dir-email {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: var(--dark);
}

body.dark .footer-dir-email {
    color: var(--light);
}

/*BOTON-WPP*/

.btn-wpp {
    text-decoration: none;
    font-size: 45px;
    color: var(--light);
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    transition: transform .5s, background-color .5s, color .5s;
    width: 70px;
    display: flex;
    justify-content: center;
    background-color: rgb(5, 174, 5);
    padding: .2rem;
    border-radius: 15px;

}

.btn-wpp:hover {
    transform: translateX(10px);
    background-color: transparent;
    color: rgb(5, 174, 5);
}


/*BOTON-MAIL*/
.btn-mail {
    text-decoration: none;
    font-size: 55px;
    color: var(--dark);
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 100;
    transition: transform .5s, background-color .5s, color .5s;
    background-color: #FFD400;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

.btn-mail:hover {
    background-color: transparent;
    color: var(--primary);
    transform: translateX(10px);
}

/*BOTON-FACE*/

.btn-face {
    text-decoration: none;
    font-size: 54px;
    position: fixed;
    bottom: 185px;
    right: 30px;
    z-index: 100;
    transition: transform .5s, background-color .5s, color .5s;
    background-color: var(--light);
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

.btn-face:hover {
    background-color: transparent;
    transform: translateX(10px);
}

.btn-ligth,
.btn-dark {
    position: fixed;
    top: 450px;
    left: 20px;
    cursor: pointer;
    background-color: var(--primary);
    height: 60px;
    border-radius: 100%;
    border: 1px solid var(--primary);
    transition: volor .5s, background .5s, transform .5s
}

.btn-dark {
    background-color: var(--accent);
    border: 1px solid transparent;
}

body.dark .btn-dark {
    display: none;
}

body.dark .btn-ligth {
    display: block;
}

body .btn-ligth {
    display: none;

}


.btn-ligth:hover {
    background-color: transparent;
    color: #FFD400;
    transform: scale(0.9);
}

.btn-dark:hover {
    background-color: var(--light);
    transform: scale(0.9);
    border: 1px solid transparent;
}

.icon-ligth,
.icon-dark {
    font-size: 2rem;
    padding: .9rem;
}

/*modal empty*/

.container-empty {
    display: none;
}

.container-empty.active {
    text-align: center;
    font-size: 2rem;
    display: block;
}