* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

:root {
    --primary: #FFD400;
    --dark: #1A1A1A;
    --light: #F5F5F5;
    --accent: #00A8E8;
    --roboto: Roboto;
}