:root {
    --primary: #FFD400;
    --dark: #1A1A1A;
    --light: #F5F5F5;
    --accent: #00A8E8;
    --roboto: Roboto;
    --dark-ligth: #696767;
}

body.dark .main {
    background-color: var(--dark);
}

.services {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.services-title {
    background-color: var(--accent);
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--accent);
    transition: background-color .5s, border .5s, color .5s;
    color: var(--light);
    font-size: clamp(1rem, 3vw, 2rem);

}

body.dark .services-title {

    background-color: var(--dark-ligth);
    color: var(--light);
    border: 1px solid var(--dark-ligth);
}

.containerServices {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.card-service {
    background-color: #ffea84;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #ffea84;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: background-color .5s, border .5s;
    cursor: pointer;
    transition: transform .5s, background-color.5s;

}

.card-service:hover {

    transform: scale(0.95);
    background-color: #FFD400;
}

body.dark .card-service {
    background-color: var(--dark);

}

.card-service-title {
    color: var(--dark);
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.2rem);
    transition: color .5s;
    flex-grow: 1;
}

body.dark .card-service-title {
    color: var(--light);
}

.card-service-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--dark);
    transition: color .5s;
}

body.dark .card-service-info {
    color: var(--light);
}

.service-info-img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 300px;
    object-fit: cover;
}

.btn-verDetails {
    padding: .7rem;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: var(--primary);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    cursor: pointer;
    transition: transform .5s, color .5s, background .5s;

}

.btn-verDetails:hover {
    transform: scale(0.9);
    background-color: var(--light);
}

.card-service:hover .btn-verDetails {
    background-color: var(--light);
}

@media(max-width:784px) {

    .containerServices {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:480px) {

    .containerServices {
        grid-template-columns: repeat(1, 1fr);
    }
}