:root {
    --primary: #FFD400;
    --dark: #1A1A1A;
    --light: #F5F5F5;
    --accent: #00A8E8;
    --roboto: Roboto;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


body.dark .main {
    background-color: var(--dark);
}

.history {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.history-main {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.history-main-content {
    line-height: 2rem;
}

body.dark .history {

    color: var(--light);
}

/*PROPOSITOS*/

.propositos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.proposito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--accent);
    padding: 1rem;
    border-radius: 15px;
    color: var(--light);
    transition: background 1s;
    align-items: center;
    max-width: 700px;
}

body.dark .proposito {

    background-color: #4e4d4d;

}

.prposito-title {
    color: var(--dark);
}

body.dark .prposito-title {
    color: var(--light);
}

.proposito-content {
    line-height: 2rem;
}

/*VALORES*/
.valores-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid var(--dark);
}