:root {
    --primary: #FFD400;
    --dark: #1A1A1A;
    --light: #F5F5F5;
    --accent: #00A8E8;
    --roboto: Roboto;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


body.dark .main {
    background-color: var(--dark);
}

.history {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.history-title {
    text-align: center;
}

.history-main {
    display: flex;
    gap: 1rem;
    flex-direction:column-reverse;

}

.imagenContainer {
    display: flex;
    justify-content: center;
}.info-principal-img{
    width: 100%;
    object-fit: cover;
    max-width: 500px;
}

.history-main-content {
    line-height: 2rem;
}

.historiaMainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

body.dark .history {

    color: var(--light);
}

/*PROPOSITOS*/

.propositos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.proposito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--accent);
    padding: 1rem;
    border-radius: 15px;
    color: var(--light);
    transition: background 1s;
    align-items: center;
    max-width: 700px;
}

body.dark .proposito {

    background-color: #4e4d4d;

}

.prposito-title {
    color: var(--dark);
}

body.dark .prposito-title {
    color: var(--light);
}

.proposito-content {
    line-height: 2rem;
}

/*VALORES*/
.valores-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #bcb8b8;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #bcb8b8;
}

.valores-title {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.valores {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.valor {
    background-color: #FFD400;
    padding: 1rem;
    border-radius: 15px;
    font-weight: bold;
    transition: background .5s, color .5s, transform .5s;
}

body.dark .valor {
    background-color: #1A1A1A;
    color: var(--light);
}

.valor:hover {
    transform: scale(0.98);
    transform: translateX(10px);
}